[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "==0.630"
pytest = "==3.8.*"
typing-extensions = "==3.6.*"

[requires]
python_version = "3.7"
